<!-- Displays Social Media Icons based on _config.yml settings -->
{{ if site.twitter }}
<span style="color: Black;">
     {% if site.twitter %}
        <a class="social-link" href="https://twitter.com/{{ site.twitter }}">
        <span style="color: #7F3B83 ;"> 
            <i class="fab fa-twitter-square fa-lg"></i></a>
        </span>
    {% endif %}
    {% if site.github %}
        <a href="https://github.com/{{ site.github }}">
        <span style="color: #7F3B83 ;">
            <i class="fab fa-github-square fa-lg"></i></a>
        </span>
    {% endif %}
    <i> &nbsp;&nbsp; </i>
</span>
