.social-icons {
    margin: 10px 0;
}

.social-icons a {
    text-decoration: none;
    color: inherit;
}

.social-icons a:hover {
    opacity: 0.8;
}

.social-icons i {
    transition: color 0.3s ease;
}

.image-hover-container {
    position: relative;
    width: 100%;
    height: auto;
}

.image-hover-container img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;
}

.main-image {
    opacity: 1;
    position: relative !important;
}

.hover-image {
    opacity: 0;
}

.image-hover-container:hover .main-image {
    opacity: 0;
}

.image-hover-container:hover .hover-image {
    opacity: 1;
} 