.social-icons {
    margin: 10px 0;
}

.social-icons a {
    text-decoration: none;
    color: inherit;
}

.social-icons a:hover {
    opacity: 0.8;
}

.social-icons i {
    transition: color 0.3s ease;
}

.image-hover-container {
    position: relative;
    width: 100%;
    height: auto;
}

.image-hover-container img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;
}

.main-image {
    opacity: 1;
    position: relative !important;
}

.hover-image {
    opacity: 0;
}

.image-hover-container:hover .main-image {
    opacity: 0;
}

.image-hover-container:hover .hover-image {
    opacity: 1;
} 

/* timeline.css */
.timeline {
    position: relative;
    padding: 20px 0;
  }
  
  .timeline-item {
    position: relative;
    margin-bottom: 20px;
  }
  
  .timeline-date {
    font-weight: bold;
    color: #555;
  }
  
  .timeline-content {
    background: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }